.navbar-nav {
    justify-content: center;
}

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
}

.arrow-down {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
