body {
    font-family: 'Quicksand', sans-serif;
}

.profile-img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(75, 73, 73, 0.19);
}

.profile-box {
    cursor: pointer;
    margin-bottom: 20px;
}

.designation {
    font-size: 0.9rem;
    color: #777;
}

/* pop up window modal box title css  */
.modal-title {
    width: 100%;
    text-align: center;
}
/* image below text  */
.text-center {
    margin-top: 10px;
}
.modal-dialog {
    max-width: 500px;
    width: 500px;
    height: 780px;
}
.modal-content {
    height: 100%;
}

/* distributed footer  */
.footer-distributed{
	background-color: #ffffff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	padding: 20px 20px;
	margin-top: 50px;
	font-size: 13px;
}

.footer-distributed .footer-left p{
	color:  #303233;
	margin: 0;
	font-size: 13px;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #141212;
	margin: 0 0 0px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	font-size: 18px;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}


/* distributed footer end  */