html {
	scroll-behavior: smooth;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #198780 #f1f1f1;
}

/* Scrollbar for specific element */
.custom-scrollbar {
    overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

 /* logo of the home page  */
 .mainlogo {
	z-index: 20000;
	width: 120px;
	height:120px;
}
.arrow-icon {
	height: 10px; 
	width: 22px; 
	margin-bottom: 60px;
}