#services .services-top {
    padding: 70px 0 50px;
}

#services .services-list {
    padding-top: 50px;
}

.services-list .service-block {
    margin-bottom: 30px;
    text-align: center; /* Center-align text and icon */
}

.services-list .service-block .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Space between icon and text */
    border: 2px solid #2da399; /* Add a border for cool design */
    border-radius: 50%; /* Make the icon container circular */
    width: 80px; /* Set a fixed width */
    height: 80px; /* Set a fixed height */
    margin: 0 auto; /* Center the icon container */
    background-color: #ffffff; /* Add a background color */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.services-list .service-block .ico {
    font-size: 30px;
    color: #2da399;
}

.services-list .service-block .text-block .name {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 5px;
}

.services-list .service-block .text-block .info {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

.highlight {
    color: #2da399;
    font-weight: normal;
}
