.gallery-item {
    margin: 10px; /* Adjust this value to control the vertical gap */
}

.gallery-item a {
    display: block;
    margin: 0 7.5px; /* Adjust this value to control the horizontal gap */
}

@media (max-width: 767px) {
    .gallery-item a {
        margin: 0 0 15px 0; /* Adjust the gap for small screens if needed */
    }
}